<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio en grupo</title>
</head>
<body>
    <h1> Desafio en grupo de {{nombre}} {{apellido}} </h1>
    {% if edad >= 18 %}
        <h3>martin es mayor de edad</h3>
    {% elif edad < 18%}
    <h3>martin es menor de edad</h3>
    {% else %}
    <h3>no se sabe la edad</h3>
    {% endif %}

    {% for x in listafamilia %}
    <p>{{x}}</p>
    {% endfor %}
</body>
</html>